{% extends "base.html" %}

{% block content %}<h1>About Defuse Security</h1>


<p>
Defuse Security is Taylor Hornby's personal homepage for security research,
consulting services, and a whole bunch of other random stuff.
</p>

<p>
I build useful tools for security engineers like the <a
href="/online-x86-assembler.htm">Online x86 Assembler/Disassembler</a>, and
I've recently been exploring a niche of "high assurance AI coding" (if that
isn't an oxymoron) by creating tools like <a
href="/vfy-backup-tester.htm">vfy</a> while simultaneously developing a
claude-based tool for cryptographic security audits.
</p>

<p>
I have a degree in Computer Science and a Masters in Quantum Information. Most
of my career has been centered around auditing cryptography-related software, my
most recent project being to provide audits and community security support to
the Zcash community. I'm currently a board member of the <a
href="https://zfnd.org/">Zcash Foundation</a>.</p>

<p>
What I enjoy most of all is thinking critically about systems to understand
their intricate behavior, then finding clever ways to exploit those intricacies
to make the system do something unexpected. I also like cryptography for its
ability to level power imbalances through decentralization and to increase our
freedom by giving us privacy to express our deepest thoughts to only those
who we trust. I'm also interested in complexity theory, mathematical logic,
physics, and philosophy of mind.
</p>

<p>
If you would like to hire me for a security audit, see my <a class="monowb"
href="/software-security-auditing.htm">Security Consulting</a> page. I
specialize in auditing all sorts of cryptography-related protocols and software,
but I do general application security audits as well.
</p>

<div class="github-source-boxes">
    <div class="github-source-box">
        <a href="/contact.htm">
            <img src="/images/email-icon-white.png" alt="Contact" height="24" width="24" />Contact me
        </a>
    </div>
    <div class="github-source-box">
        <a href="https://github.com/defuse">
            <img src="/images/github.png" alt="GitHub" height="32" width="32" />GitHub Repos
        </a>
    </div>
</div>

<div class="github-source-boxes">
    <div class="github-source-box">
        <a href="https://x.com/defusesec">
            <img src="/images/twitter.png" alt="X/Twitter" height="25" width="30" />Follow on X/Twitter
        </a>
    </div>
    <div class="github-source-box">
        <a href="https://bsky.app/profile/defusesec.bsky.social">
            <img src="/images/bluesky.png" alt="Bluesky" height="25" width="29" />Follow on Bluesky
        </a>
    </div>
</div>


<h2>Like the Script-Free Drop-Down Menu?</h2>

<p>
<a href="https://www.grc.com/intro.htm">Steve Gibson</a> created the CSS-only
menu that this website uses. He put it in the public domain, so anyone can use
it for free. It is the most reliable (and maybe the only reliable) CSS-only
drop-down menu ever created!
</p>

<center>
    <strong>
        <a href="http://www.grc.com/menu2/invitro.htm">
                Click Here to get Steve Gibson's script-free CSS menu
        </a>
    </strong>
</center>
{% endblock %}
