{% extends "base.html" %}

{% block content %}<div class="pagedate">
July 31, 2023
</div>
<h1>Security Engineering: Learning from Safety-Critical Disciplines</h1>

<p>In this talk, I survey the results of my Zcash ecosystem security project,
then explore lessons, techniques, and methods from safety engineering that are
equally applicable to computer security engineering.</p>

<center>
<iframe width="560" height="315" src="https://www.youtube.com/embed/fgkFrxiB14g" frameborder="0" allowfullscreen></iframe>
</center>

<h2>Resources</h2>

<ul>
    <li><a href="/downloads/Security%20Engineering_Learning%20from%20Safety-Critical%20Disciplines.pdf">Talk Slides (PDF)</a></li>
</ul>
{% endblock %}
