{% extends "base.html" %}

{% block content %}<h1>Online HTML Escape Tool</h1>
<p>This tool will take your text and convert all the special characters to their proper HTML codes so you can paste text with special characters or HTML code onto your website.
   <em>It has been carefully designed so that the HTML produced by this tool looks and <strong>behaves</strong> exactly like the original text does in a text editor</em>.
</p>

{%- if submitted %}
        <p><strong>Your text has been escaped!</strong></p>
{%- else %}

        <p><strong>Enter Your Text:</strong></p>
{%- endif %}
    

<form action="html-sanitize.htm" method="post">
    
    <textarea name="data" rows="15" cols="40" style="width:100%; margin-bottom: 10px;" >
{{ data }}</textarea><br />
    <input type="submit" name="sanitize" value="HTML-Escape Text" /> &nbsp;&nbsp;&nbsp;&nbsp;
    Tab width: <input type="text" name="tw" value="{{ tab_width }}" size="2" /> &nbsp;&nbsp;&nbsp;&nbsp;
    <input type="checkbox" name="br" value="yes" {% if br_checked %}checked="checked" {% endif %}/>Replace line endings with &lt;br /&gt;
</form>

<h2>How it works</h2>

<p>Escaping text is a bit tricky when you want it to look exactly the same in HTML as it would look in a text editor.
 The code this page uses to escape text is presented below. If you read the comments, you'll see that the solution is
 not as obvious as you might think!
</p>

{{ source_html|safe }}
{% endblock %}
