{% extends "base.html" %}

{% block content %}<h1>Claude Code Status Line</h1>

<div class="github-source-boxes">
    <div class="github-source-box">
        <a href="https://github.com/defuse/claude-statusline">
            <img src="/images/github.png" alt="GitHub" height="32" width="32" />Source Code on GitHub
        </a>
    </div>
</div>

<div class="readme-box">
<div class="readme-box-header">README.md:</div>
<div class="markdown-content">
{{ content_html|safe }}
</div>
</div>

{% endblock %}
