{% extends "base.html" %}

{% block content %}<h1>PoC || GTFO Mirror</h1>

<p>
This mirror is only a proof of concept. It may not be up to date.
</p>

<p>
Some of these PDFs get falsely flagged as malware by scanners, so to access
them, replace the &ldquo;hxxps&rdquo; with &ldquo;https&rdquo; and replace the
&ldquo;poc-X&rdquo; with &ldquo;poc-GTFO&rdquo;.
</p>

<ul>
    <li>Issue 0x00 &ndash; <code>hxxps://defuse.ca/files2/poc-X/pocorgtfo00.pdf</code></li>
    <li>Issue 0x01 &ndash; <code>hxxps://defuse.ca/files2/poc-X/pocorgtfo01.pdf</code></li>
    <li>Issue 0x02 &ndash; <code>hxxps://defuse.ca/files2/poc-X/pocorgtfo02.pdf</code></li>
    <li>Issue 0x03 &ndash; <code>hxxps://defuse.ca/files2/poc-X/pocorgtfo03.pdf</code></li>
    <li>Issue 0x04 &ndash; <code>hxxps://defuse.ca/files2/poc-X/pocorgtfo04.pdf</code></li>
    <li>Issue 0x05 &ndash; <code>hxxps://defuse.ca/files2/poc-X/pocorgtfo05.pdf</code></li>
    <li>Issue 0x06 &ndash; <code>hxxps://defuse.ca/files2/poc-X/pocorgtfo06.pdf</code></li>
    <li>Issue 0x07 &ndash; <code>hxxps://defuse.ca/files2/poc-X/pocorgtfo07.pdf</code></li>
    <li>Issue 0x08 &ndash; <code>hxxps://defuse.ca/files2/poc-X/pocorgtfo08.pdf</code></li>
    <li>Issue 0x09 &ndash; <code>hxxps://defuse.ca/files2/poc-X/pocorgtfo09.pdf</code></li>
    <li>Issue 0x10 &ndash; <code>hxxps://defuse.ca/files2/poc-X/pocorgtfo10.pdf</code></li>
    <li>Issue 0x11 &ndash; <code>hxxps://defuse.ca/files2/poc-X/pocorgtfo11.pdf</code></li>
    <li>Issue 0x12 &ndash; <code>hxxps://defuse.ca/files2/poc-X/pocorgtfo12.pdf</code></li>
    <li>Issue 0x13 &ndash; <code>hxxps://defuse.ca/files2/poc-X/pocorgtfo13.pdf</code></li>
    <li>Issue 0x14 &ndash; <code>hxxps://defuse.ca/files2/poc-X/pocorgtfo14.pdf</code></li>
    <li>Issue 0x15 &ndash; <code>hxxps://defuse.ca/files2/poc-X/pocorgtfo15.pdf</code></li>
    <li>Issue 0x16 &ndash; <code>hxxps://defuse.ca/files2/poc-X/pocorgtfo16.pdf</code></li>
    <li>Issue 0x17 &ndash; <code>hxxps://defuse.ca/files2/poc-X/pocorgtfo17.pdf</code></li>
    <li>Issue 0x18 &ndash; <code>hxxps://defuse.ca/files2/poc-X/pocorgtfo18.pdf</code></li>
    <li>Issue 0x19 &ndash; <code>hxxps://defuse.ca/files2/poc-X/pocorgtfo19.pdf</code></li>
    <li>Issue 0x20 &ndash; <code>hxxps://defuse.ca/files2/poc-X/pocorgtfo20.pdf</code></li>
    <li>Issue 0x21 &ndash; <code>hxxps://defuse.ca/files2/poc-X/pocorgtfo21.pdf</code></li>
</ul>
{% endblock %}
