{% extends "base.html" %}

{% block content %}<h1><span class="monowb">$ passgenr</span> &nbsp;&ndash;&nbsp; High-Security Offline Password Generator</h1>

<div style="border: solid black 1px; margin: 0 auto; width: 700px; padding: 5px;">
<center><strong>Just want a password?</strong></center>

    <table style="margin: 0 auto; font-family: monospace;" cellspacing="5px">
        <tr>
            <td><strong>ASCII:</strong></td>
            <td>{{ ascii }}</td>
        </tr>
        <tr>
            <td><strong>Alpha-numeric:</strong></td>
            <td>{{ alpha }}</td>
        </tr>
        <tr>
            <td><strong>Hex:</strong></td>
            <td>{{ hex }}</td>
        </tr>
    </table>
    <p style="text-align: center; padding: 0; margin: 0;"><i><a href="/passgen.htm">Refresh</a> the page to generate a new set.</i></p>
</div>

<p>
Online password generators like the one above are convenient, but you must trust
the web server not to be compromised and/or misconfigured in a way that puts
your passwords at risk.

A more secure option is to generate passwords locally, on your computer, using
the high-quality cryptographic random numbers that your operating system
provides. On this page, you'll find a command-line utility and Windows app that
let you do exactly that.
</p>

<h2>Command-Line Utility</h2>

<div class="github-source-boxes">
    <div class="github-source-box">
        <a href="https://github.com/defuse/passgenr">
            <img src="/images/github.png" alt="GitHub" height="32" width="32" />Source Code on GitHub
        </a>
    </div>
    <div class="github-source-box">
        <a class="cargoinstall" href="https://crates.io/crates/passgenr">
            <img src="/images/rust-logo-white.png" alt="Rust" height="32" width="32" />&nbsp;cargo install passgenr
        </a>
    </div>
</div>

<div class="readme-box">
<div class="readme-box-header">README.md:</div>
<div class="markdown-content">
{{ readme_html|safe }}
</div>
</div>

<h2>Windows Password Generator</h2>

<div class="github-source-boxes">
    <div class="github-source-box">
        <a href="https://github.com/defuse/WinPassGen">
            <img src="/images/github.png" alt="GitHub" height="32" width="32" />Source Code on GitHub
        </a>
    </div>
    <div class="github-source-box">
        <a href="/downloads/WinPassGen.exe">
            <img src="/images/download-icon-white.png" alt="Download" height="24" width="24" />Download WinPassGen.exe
        </a>
    </div>
</div>

<p>
The Windows GUI version combines data from the Cryptographically Secure Random
Number Generator (CSPRNG) built into Windows with random mouse movements and
other system information (CPU usage, memory usage, high-precision timers, etc.)
to produce extremely secure passwords that are completely unique to you.
</p>


<center>
    <a href="/downloads/WinPassGen.exe">
        <img src="/images/winpassgen.gif"
             alt="Windows High-Security Random Password Generator"
             title="The Windows GUI Version of the password generator" />
    </a>
</center>

<p>
This version runs on Windows XP, Windows Vista, Windows 7, Windows 2000, and
Windows Server 2003+.
</p>
{% endblock %}
