{% extends "base.html" %}

{% block content %}<h1><span class="monowb">$ vfy</span> &nbsp;&ndash;&nbsp; Directory Comparer</h1>

<div class="github-source-box">
    <a href="https://github.com/defuse/vfy">
        <img src="/images/github.png" alt="GitHub" height="32" width="32" />Source Code on GitHub
    </a>
</div>

<div class="github-source-box">
    <a href="https://crates.io/crates/vfy">
        <img src="/images/rust-logo-white.png" alt="Rust" height="32" width="32" />cargo install vfy
    </a>
</div>

<div class="markdown-content">
{{ content_html|safe }}
</div>

{% endblock %}
